
.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 40%;
    background-image: url("/static/wildlife_sounds/img/bouvreuil.PNG");
    background-size: cover;
    background-position: center;
    border-right: 5px solid ivory;
    /* cursor: url('/static/wildlife_sounds/img/rapace_svg.svg') 32 32, auto; */
}

.right {
    width: 60%;
    

}


.rubriques {
    display:block;
}

.rubrique {
    margin-left: 30px;
    color: ivory;
    text-decoration: none;
    font-size: 30px;
    display: block;
    margin-top: 5%;
    width: 20%;
    background-color: rgba(250, 235, 215, 0.4);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
}

.rubrique:hover {
    color: rgba(244, 244, 225, 0.819);
    background-color: rgba(250, 235, 215, 0.3);
}

.rubrique:active {
    color: rgba(244, 244, 225, 0.819);
    background-color: rgba(250, 235, 215, 0.25);

}

