<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
    <meta name="csrf-token" content="{{ csrf_token }}">


    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    {% load static %}

    <script src="{% static 'wildlife_sounds/sounds/js/detail_list.js' %}" type="module"></script>

    <link rel="stylesheet" href="{% static 'wildlife_sounds/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'wildlife_sounds/sounds/css/detail_list.css' %}">

</head>

<body>
    <div id='data' available-species="{{available_species}}" pk-list="{{pk}}" nb-species="{{nb_species}}"></div>

    <a href="/" class="home">
        Accueil
    </a>

    <h1>{{liste.name}}</h1>
    <h2>{{liste.description}}</h2>

    <div class="button-container">
        <a href="/lists/{{pk}}/train">S'entraîner</a>    
        <a id="test-button" style="cursor:pointer;">Lancer un blindtest !</a>
    </div>

    <div class="test-container" id="test-container">
        <p><strong>Sur combien d'espèces voulez-vous lancer le test ?</strong></p>
        <input id="nb-species-test" type="number" min="1" style="width: 10%;"> <p style="display: inline;">/ <span id="counter"></span></p>
        <div class="launch-test-button" id="launch-test-button">Lancer le blindtest !</div>
    </div>
    
    <div class="table-container">
        <table>

            <thead>
            <tr>
                <th scope="col">Espèces</th>
            </tr>
            </thead>
            <tbody>
                {% for specie in list_species %}
                    <tr>
                        <th scope="row">
                            {{specie.vernacular_name}}
                            <span class="remove" specie-id="{{specie.id}}">❌</span>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class='new-specie'>
            <input id='new-specie' type='text' style='display: none';>
            {% for specie in available_species %}
                <ul>
                    <div id='available-species-div' class='available-species'></div>
                </ul>
            {% endfor %}
        </div>
        <strong class='plus' id='plus'>+</strong>

    </div>


    <div class="delete" id="delete">
        Supprimer la liste 🗑
    </div>


    <div class="delete-panel" id="delete-panel">

        <p style="color: ivory; font-size: 18px; padding:12px;">Voulez-vous vraiment supprimer définitivement la liste {{liste.name}} ?</p>

        <div class="yes-delete" id="yes-delete">
            Supprimer
        </div>

        <div class="no-delete" id="no-delete">
            Annuler
        </div>


    </div>




</body>