<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listes</title>
    <meta name="csrf-token" content="{{ csrf_token }}">


    <link rel="icon" type="image/x-icon" href="/media/86_icon.svg">
    {% load static %}

    <script src="{% static 'wildlife_sounds/sounds/js/add_sound.js' %}" type="module"></script>

    <link rel="stylesheet" href="{% static 'wildlife_sounds/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'wildlife_sounds/sounds/css/user_lists.css' %}">

</head>

<body>

    <h1>Vos listes d'espèces</h1>

    <div class="lists">
        <ul>
            {% for list in lists %}
                <li>
                    <a href="/lists/{{list.id}}">{{list.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
   




</body>