
.table-container {
    width: 100%;
}

.new-specie {
    margin-top: 5px;
    width: 20%;
    margin-left:45.5%;
}

.plus {
    margin-left: 50%;

    font-size: 33px;
    font-family: fantasy;
    color: rgb(234, 234, 202);
    cursor: pointer;
}

.plus:hover {
    color: rgb(238, 238, 151);
}

table {
    width: 20%;
    border-collapse: collapse;
    margin: 40px 0;
    font-size: 18px;
    text-align: left;
    margin-left: 40%;
    margin-bottom: 0;
}


thead th {
    background-color: rgb(92, 88, 88);
    color: ivory;
}

tr {
    border : 2px solid #ddd;
}

tr:nth-child(even) {
    background-color: rgb(236, 221, 221); /* Couleur pour une ligne sur deux */
}

tr:nth-child(odd) {
    background-color: rgb(255, 255, 240); /* Couleur alternative */
}


.available-species {
    color: black;
    font-size: 20px;
}


.button-container {
    margin-top: 3%;
    margin-left: 40%;
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
    gap: 10px; /* Ajoute un espace entre les boutons */
}

.button-container a {
    display: inline-block; /* Assure que les liens se comportent comme des blocs en ligne */
    padding: 10px 20px; /* Ajoute du rembourrage pour une meilleure apparence */
    text-decoration: none; /* Supprime le soulignement du texte */
    background-color: rgb(250, 235, 215); /* Couleur de fond bleue */
    color: black; /* Couleur du texte en blanc */
    border-radius: 5px; /* Arrondit les coins */
    text-align: center; /* Centre le texte */
}

.button-container a:hover {
    background-color: rgb(215, 191, 158); /* Assombrit le bouton au survol */
}

