li {
    color: ivory;
    font-size: 22px;
}


.create-list a{
    margin-left: 45%;
    width: 10%;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 5px;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.create-list a:hover {
    background-color: rgb(215, 191, 158); /* Assombrit le bouton au survol */
}